* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}



.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-box {
    background: #fff;
    width: 350px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

    .login-box h2 {
        text-align: center;
        color: #0a4a8a;
        margin-bottom: 5px;
    }

    .login-box p {
        text-align: center;
        font-size: 14px;
        color: #555;
        margin-bottom: 20px;
    }

    .login-box label {
        display: block;
        margin-top: 12px;
        font-size: 14px;
        color: #333;
    }

    .login-box select,
    .login-box input {
        width: 100%;
        padding: 10px;
        margin-top: 6px;
        border-radius: 6px;
        border: 1px solid #ccc;
    }

    .login-box button {
        width: 100%;
        margin-top: 20px;
        padding: 12px;
        border: none;
        background: #1d6fdc;
        color: white;
        font-size: 15px;
        border-radius: 25px;
        cursor: pointer;
    }

        .login-box button:hover {
            background: #155ab5;
        }

.create-account {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

    .create-account a {
        color: #1d6fdc;
        text-decoration: none;
        font-weight: 600;
    }
