* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}



.register-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.register-box {
    background: #fff;
    width: 380px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

    .register-box h2 {
        text-align: center;
        color: #0a4a8a;
    }

    .register-box p {
        text-align: center;
        font-size: 14px;
        color: #555;
        margin-bottom: 20px;
    }

    .register-box label {
        margin-top: 10px;
        display: block;
        font-size: 14px;
    }

    .register-box input,
    .register-box select {
        width: 100%;
        padding: 10px;
        margin-top: 6px;
        border-radius: 6px;
        border: 1px solid #ccc;
    }

    .register-box button {
        width: 100%;
        margin-top: 20px;
        padding: 12px;
        border: none;
        background: #1d6fdc;
        color: white;
        font-size: 15px;
        border-radius: 25px;
        cursor: pointer;
    }

        .register-box button:hover {
            background: #155ab5;
        }

.login-link {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

    .login-link a {
        color: #1d6fdc;
        text-decoration: none;
        font-weight: 600;
    }

        .login-link a:hover {
            text-decoration: underline;
        }
